{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Formulaire de connexion</h1>
    <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"></a></div>
	<h3 style="color:black">{{ message }}</h3>
<div class="content">
	<div class="container">
		<img class="bg-img" src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/bg.jpg" alt="">
			<div class="menu">
				<a href="{% url 'inscription' %}" class="btn-connexion active"><h2>S'inscrire</h2></a>
				<a href="{% url 'connexion' %}" class="btn-enregistrer"><h2>Se connecter</h2></a>
			</div>
			<form class="connexion" method="post">
				{% csrf_token %}


				<div class="contact-form">
					<label>Identifiant</label>
					<input placeholder="" type="text" name="identifiant" required>

					<label>Mot de passe</label>
					<input placeholder="" type="password" name="motdepasse" required>

					<div class="check">
						<label>
							<input id="check" type="checkbox" class="checkbox">
								<svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">
									<path class="path-back"  d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
									<path class="path-moving" d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
								</svg>
						</label>
						<h3>Rester connecté</h3>
					</div>

					<input class="submit" value="SE CONNECTER" type="submit">
				</div>

				<hr>
				<a href="https://www.grandvincent-marion.fr/" target="_blank"><h4>Mot de passe oublié ?</h4></a>
			</form>

			<div class="enregistrer active-section">
				<div class="contact-form">
					<label>IDENTIFIANT</label>
					<input placeholder="" type="text">

					<label>E-MAIL</label>
					<input placeholder="" type="text">

					<label>MOT DE PASSE</label>
					<input placeholder="" type="text">

					<label>CONFIRMER MOT DE PASSE</label>
					<input placeholder="" type="text">

					<div class="check">
						<label>
							<input id="check" type="checkbox" class="checkbox">
								<svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">
									<path class="path-back"  d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
									<path class="path-moving" d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
								</svg>
						</label>
						<h3>D'accord</h3>
					</div>

					<input class="submit" value="S'inscrire" type="submit">

				</div>
			</div>

	</div>

</div>

<script>



</script>

</body>
</html>
